/* Container Styling */
.reset-password-form-container {
  background: linear-gradient(to bottom right, #597b98, #2e4b69);
  padding: 80px 0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  animation: fadeIn 1s ease-in-out;
  position: relative;  
}

/* Form Styling */
.reset-password-form {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  margin: auto;
  animation: slideIn 2s ease-in-out;
}

.reset-password-form h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  text-align: center;
  color: #546d8b;
  animation: fadeIn 1s ease-in-out;
}

/* Label Styling */
.reset-password-form label {
  display: flex;
  align-items: center;
  font-weight: bolder;
  margin-bottom: 15px;
  color: #637995;
  animation: fadeIn 1s ease-in-out;
}

/* Input Styling */
.reset-password-form input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color:  ;
  transition: border-color 0.3s ease;
  animation: fadeIn 1s ease-in-out;
}

.reset-password-form input:focus {
  border-color: #6461a3;
}

/* Button Styling */
.reset-password-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #546d8b, #1a3654);
  color: #fff;
  border-radius: 40px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  animation: slideIn 1s ease-in-out;
}

.reset-password-form button:hover {
  background: linear-gradient(to right, #1a3654, #546d8b);
}

/* Error message styling */
.reset-password-form p {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #ff6347;
  opacity: 0;
  transition: opacity 0.3s ease;
  animation: fadeIn 1s ease-in-out;
}

.reset-password-form:hover p {
  opacity: 1;
}

/* Keyframes */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(-20px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
